#-[ IGNORED AS CONTENTS MUST BE UNIQUE WRT USER MACHINE ]----------------------#
.vscode/
build/assets/source_paths.json

#-[ IGNORED AS MUST BE BUILT UNIQUE WRT USER MACHINE ]-------------------------#
build/EisDoomLauncher.jar